
<%= nested_form_for @patient do |f|  %>


<%= f.label :name %><br />
<%= f.text_field :name %><br />

<%= f.label :phone %><br />
<%= f.text_field :phone %><br />

  <p>
    <%= f.label       :address %><br />
    <%= f.text_field  :address_line1 %><br />
    <%= f.text_field  :address_line2 %><br />
    <%= f.text_field  :address_line3 %>
  </p>
<%= f.label :suffering_from %><br />
<%= f.text_field :suffering_from %><br />

<%= f.hidden_field :user_id, :value => current_user.id %>

 <h3> allergies</h3>
	<%= f.fields_for :allergies do |f| %>
	<%= render :partial =>'allergy',  :locals => { :f => f }%>
	<% end %>
<p><%= f.link_to_add "Add a allergy", :allergies %></p>


<%= f.submit "Create" %>
<% end %>