
<%= form_for (@patient) do |f| %>


<%= f.label :name %><br />
<%= f.text_field :name %><br />

<%= f.label :phone %><br />
<%= f.text_field :phone %><br />

  <p>
    <%= f.label       :address %><br />
    <%= f.text_field  :address_line1 %><br />
    <%= f.text_field  :address_line2 %><br />
    <%= f.text_field  :address_line3 %>
  </p>
<%= f.label :suffering_from %><br />
<%= f.text_field :suffering_from %><br />

<%= f.hidden_field :user_id, :value => current_user.id %>

 <%= f.fields_for :allergy do |bud| %>
 <%= render "allergy", :f => bud %>
 
 <% end %>
   <%= add_child_link "Add allergy", :allergy %></p>
 <p>


<%= f.submit "Create" %>
<% end %>