<!DOCTYPE html>
<html>
<head>
  <title>Doctor</title>
  <%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag 'jquery', 'nested_form' %>

	
<%= yield(:head)%>

  <%= csrf_meta_tags %>
</head>
<body>
	
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       	<center>
    	 <%= link_to "Home", root_path %>&nbsp;||&nbsp;
         <% if user_signed_in? %>
        	 <%= link_to "Sign out", "/users/sign_out" %>&nbsp;||&nbsp;
         <% else %>
   			 <%= link_to "Sign in",  "/users/sign_in" %>&nbsp;||&nbsp;
			 <%= link_to "Sign up",  "/users/sign_up" %>
         <% end %>
         </center>
   		 <br />  <br />  <br />   <br />  <br /> 
      <%= yield %>

</body>
</html>